<app-header></app-header>
<div class="row">
  <div class="col welcome-message">
    <h3>Welcome to the quizz ! </h3>


  </div>
</div>
<div class="row">
  <div class="col text-center welcome-message stick-to-top">
    You'll be asked a series of "Yes or No" questions. Answer as many as you can in the allowed time to gain points and try to beat your highscore !
    Press the START button to begin. Good luck !
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <button class="btn btn-success btn-slide-right" (click)="onStartQuizz()">START</button>
  </div>
</div>
